.container{
    border: #6b8b3a 1px solid;
    max-width: 1200px;
    padding: 8px 10px;
    display: flex;
    align-content: center;
    height: 200px;
    cursor: pointer;
    margin: 0 auto 20px;
    border-radius: 5px;
}

.category{
    color: #6b8b3a;
    font-size: 25px;
    text-align: left;
    font-weight: 700;
}
