.container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 13px;
    padding-left: 50px;
    padding-right: 50px;
}

.bg {
    background-color: #1f232b;
}

.left {
    text-align: left;
}

.white {
    color: white
}

.grey * {
    color: grey;
    padding-right: 5px;
}
.grey *:not(:first-child) {
    margin-right: 5px;
    border-left: 1px solid grey;
    padding-left: 5px;
}

.right {
    text-align: right;
    width: 400px;
}
.right > * {
    margin-left: 10px;
}

.icons :hover {
    fill : blanchedalmond;
}


@media only screen and (max-width: 930px){ 
    .container {
        padding-top: 10px;
        display: block;
        height: 85px;
    }
    .right, .left {
        width: auto;
        font-size: 15px;
    }
    .grey *:not(:first-child){
        display: block;
        border-left: transparent;    
    }
    .right {
        text-align: right;
        margin-top: -15px;
    }
}

@media only screen and (max-width: 600px){ 
    .container {
        padding-top: 10px;
        display: block;
        height: 100px;
    }
    .left {
        text-align: center;
    }
    .right, .left {
        width: auto;
        font-size: 15px;
    }
    .grey {
        display: inline-flex;
    }
    .grey *:not(:first-child){
        display: block;
        border-left: transparent;    
    }
    .right {
        text-align: center;
        margin-top: 7px;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }
}