.paralax {
    background-image: url("../../images/paralax.jpeg");
    height: 200px;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
	.paralax {
        background-image: url("../../images/panorama.jpg");
        height: 150px;
	}
}