.container {
    height: 4.5em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.input {
    width: 30em;
    height: 2em;
    padding-left: 15px;
    border: grey 1px solid;
    border-radius: 10px;
}

.search {
    border: grey 1px solid;
    border-radius: 10px;
    margin-left: -36px;
    height: 36px;
    width: 36px;
}
.search:hover {
    background-color: #6B8B3A !important;
}

@media only screen and (max-width: 600px) {
    .input {
        width: auto;
    }
}

@media only screen and (max-width: 585px) {
    .search {
        height: 36px;
        margin-left: -36px
    }
}

@media only screen and (max-width: 460px) {
    .search {
        height: 32px;
        margin-left: -32px
    }
}
