.mainContainer {
    margin: 0 auto;
    max-width: 1300px;
}

.fill {
    margin: 0 auto;
    justify-content: center;
    height: 600px;
    width: 900px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.map {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.contacts {
    justify-content: center;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    font-size: 16px;
    align-content: center;
    min-width: 100%;
}

.inside {
    text-align: center;
    align-content: center;
    padding: 15px;
    max-width: 100%;
    opacity: 0.75;
}
.inside:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: opacity ease-in-out .5s;
    transition: transform ease-in-out .2s;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.black {
    color:black; 
}

.grey {
    color: grey;
    
}

.form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.input {
    padding-left: 25px;
    border: grey 1px solid;
    border-radius: 10px;
    vertical-align: text-top;

}

.input:focus {
    border: grey 2px solid;
    background-color: rgba(107, 139, 58, .15) !important;
}

.input.i4 {
    resize:both;
}

.i1, .i2, .i3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.i4 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.i1 {
    grid-row-start: 1;
    grid-row-end: 2;
}
.i2 {
    grid-row-start: 2;
    grid-row-end: 3;
}
.i3 {
    grid-row-start: 3;
    grid-row-end: 4;
}
.i4 {
    text-align: start;
    grid-row-start: 1;
    grid-row-end: 4;
}
.submit {
    width: 10em;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0 auto;
    border: grey 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: #6B8B3A;
}
.submit:hover {
    cursor: pointer;
    color: white;
    font-weight: 700;
    background-color: #6B8B3A !important;
    transition: background-color .5s;
}


@media screen and (max-width: 900px) {
    .fill {
        width: 100%;
        height: 500px;
    }
    .i1, .i2, .i3 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .i4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .i1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .i2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .i3 {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .i4 {
        height: 5em;
        text-align: start;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .icons.i4 {
        margin: -1.65em .7em 0 .4em;
    }
}
@media screen and (max-width: 600px) {
    .fill {
        width: auto;
        height: 300px;
    }
}

.icons {
    color: #6B8B3A;
    z-index: 2;
    margin: .4em .7em 0 .4em;
    
}

.form {
    margin-top: 2em;
    margin-bottom: 1em;
}