.container {
    display: flex;
    justify-content: space-around;
    height: 115px;
    margin: 0 auto;
    background-color: #ffffff;
    align-items: center;
    font-size: 14px;
    font-weight: 750;
    padding: 20px;
    
}

.right {
    text-transform: uppercase;
    text-align: right;
    width: auto;
}
.right > * {
    margin-left: 30px;
}
.right > *:hover :not(.selected) {
    border-bottom: #6B8B3A 1px solid;
}


.left {
    width: 440px;
    height: auto;
    align-content: left;
}

.hamburger {
    display: none;
    border: transparent;
    background-color: transparent;
}

.searchButton {
    border: transparent;
    background-color: transparent;
}

.logoSide {
    width: auto;
    margin: 0;
}

@media only screen and (max-width: 930px){ 
    .hamburger {
        display: inline-block;
        opacity: 1;
    }
    .right {
        display: none;
    }
    .container {
        justify-content: space-around;
        height: 85px;
    }
    .logoSide {
        width: 200px;
        height: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }
}

.links {
    list-style: none;
    text-transform: uppercase;
    background-image: linear-gradient(white, #6B8B3A);
    padding-bottom: 10px;
    height: max-content;
    width: 100%;
    font-size: 20px;
    position: absolute;
    animation: animateToggle .2s ease-in-out;
    margin-top: -1px;
    margin-left: 0;
}

.links > * {
    padding-top: 10px;
}
.top {
    font-size: 50px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

.sticky {
    top: 0;
    position: sticky;
    z-index: 2;
    background-color: white;
}

.selected {
    color: #6B8B3A;
    border-bottom: #6B8B3A 2px solid;
}


@keyframes animateToggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}