header {
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 150px;
    margin: 0 auto;
    background-color: #ffffff;
    align-items: center;
    font-size: 14px;
    font-weight: 750;
    padding: 20px;
}

.right {
    text-transform: uppercase;
    text-align: right;
    width: auto;
}
.right > * {
    margin-left: 30px;
}


.left {
    width: 440px;
    height: auto;
    align-content: left;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 930px){ 
    .hamburger {
        display: inline-block;
    }
    .right {
        display: none;
    }
    .container {
        justify-content: space-around;
    }
}

.links {
    list-style: none;
    text-transform: uppercase;
    background-color: #6B8B3A;
    padding: 20px;
    width: 100%;
}

.rightNav {
    display: none;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
}

.toggle {

}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
