.block > * > * > * {
    padding: 5px;
    z-index: 1;
}

.block {
    max-width: 1300px;
    padding: 40px;
    overflow: hidden;
    margin: 0 auto;
}

.block > * > * >*:hover {
    transform: scale(1.01);
    transition: transform .2s;
}

